@import url('../__website/__url-heading/place__url-heading.css');
@import url('../__website/__url/place__url.css');

.place__website-x {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 484px;
}
.place__website {
    margin: 0;
    padding-bottom: 60px;
    max-width: 484px;
}

/*
.place__website:first-of-type {
    padding-top: 60px;
}
*/
@media screen and (max-width: 320px) {
    .place__website-x {
       display: none;
    }
    .place__website {
        display: none;
     }
}