.intro__subtitle {
    max-width: 683px;
    margin: 0;
    padding-bottom: 35px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
}