.cover__subtitle {
    margin: 0;
    max-width: 382px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    z-index: 7;
    color: #FFFFFF;
}


@media (min-width: 1024px) and (max-width: 1279px) {
  .cover__subtitle {
      max-width: 413px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover__subtitle {
      max-width: 382px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .cover__subtitle {
    max-width: 343px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
}

@media (min-width : 375px) and (max-width: 424px)  {
  .cover__subtitle {
    max-width: 343px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

@media sreen and (max-width: 375px)  {
  .cover__subtitle {
    max-width: 288px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
