.footer__copyright {
    max-width: 282px;
    margin-top: auto;
    margin-bottom: 0;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer__copyright {
        max-width: 183px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .footer__copyright  {
        margin-right: auto;
    }
}

@media (min-width: 375px) and (max-width: 424px)  {
    .footer__copyright  {
        margin-right: auto;
    }
}