.place__paragraph {
    margin: 0 0 36px;
    max-width: 484px;
    min-height: auto;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;

}

@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 100%;
    }
}