@import url('../intro/__title/intro__title.css');
@import url('../intro/__subtitle/intro__subtitle.css');
@import url('../intro/__content-row/intro__content-row.css');
@import url('../intro/__text/intro__text-sublines.css');

.intro {
    margin: 0;
    max-width: 47%;
    min-height: 371px;
    padding-right: 37%;
    padding-bottom: 7%; /*102px= 7%*/
    padding-left: 16%;
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .intro {
    max-width: 53%;
    padding-right: 35%;
    padding-bottom: 8%; /*102px = 8% от ширины родителя*/
    padding-left: 11.5%;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        max-width: 90.6%;
        min-height: 377px;
        margin: 0 auto;
        padding-bottom: 10%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .intro {
        max-width: 93.7%;
        min-height: 384px;
        margin: 0 auto;
        padding-bottom: 97px;
    }
  }
  
  @media (min-width: 425px) and (max-width: 767px) {
    .intro {
     margin: 0 auto;
    }
  }
  
  @media (min-width: 375px) and (max-width: 424px)  {
    .intro {
        max-width: 91.5%;
        min-height: 693px;
        margin: 0 auto;
        padding-bottom: 64px;
    }
  }