@import url('../vendor/normalize.css');
@import url('../blocks/header/header.css');
@import url('../blocks/lead/lead.css');
@import url('../blocks/intro/intro.css');
@import url('../blocks/photo-grid/photo-grid.css');
@import url('../blocks/places/places.css');
@import url('../blocks/video/video.css');
@import url('../blocks/comments/comments.css');
@import url('../blocks/cover/cover.css');
@import url('../blocks/footer/footer.css');
@import url('../fonts/Inter_web/inter.css');


.body {
  margin: 0;
  background-color: #2A2C2F;
}

a {
  margin: 0;
}
div {
  margin: 0;
}

img {
  margin: 0;
}

.page-wrapper {
  max-width: 100%;
  background-color: #2A2C2F;
}
.page {
    max-width: 1440px;
    background: #2A2C2F;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

/* Размечена верстка для экранов: до 767, 768–1023, 1024–1279 и 1280–1440 пикселей */
/*

@media (min-width: 1280px) and (max-width: 1439px) {
  .page {
    min-width: 1280px;
    max-width: 1439px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .page {
    min-width: 1024px;
    max-width: 1279px;
  }
}


@media (min-width: 375px) and (max-width: 424px)  {
  .page {
    min-width: 375px;
    max-width: 424px;
  }
}
*/