.comments__content-title {
    margin: 0 auto 48px;
    max-width: 800px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
}

  
@media (min-width: 1024px) and (max-width: 1279px) {
    .comments__content-title  {
        max-width: 928px;
        font-size: 72px;
        line-height: 65px;  
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .comments__content-title  {
        margin: 0 auto 24px;
        max-width: 660px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .comments__content-title  {
        margin: 0 auto 16px;
        max-width: 343px;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 424px)  {
    .comments__content-title  {
        margin: 0 auto 16px;
        max-width: 343px;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 375px) {
    .comments__content-title  {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}