.comments__item-author {
    width: 100%;
    margin: 0;
    padding-top: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .comments__item-author {
        padding-top: 16px;
    }
}
  
@media (min-width: 768px) and (max-width: 1023px) {
    .comments__item-author { 
        padding-top: 16px;
        margin-bottom: 24px;
        text-align: center;
        order: 2;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .comments__item-author {
        padding-top: 16px;
        margin-bottom: 24px;
        text-align: center;
        order: 2;
    }
}

@media (min-width: 375px) and (max-width: 424px)  {
    .comments__item-author {
        padding-top: 16px;
        margin-bottom: 24px;
        text-align: center;
        order: 2;
    }
}