.intro__title {
    max-width: 683px;
    margin: 0;
    padding-bottom: 48px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;

}


@media (min-width: 1024px) and (max-width: 1279px) {
    .intro__title {
        max-width: 928px;
    }
  }
  
@media (min-width: 768px) and (max-width: 1023px) {
    .intro__title {
        max-width: 720px;
    }
}


@media (min-width: 375px) and (max-width: 424px)  {
    .intro__title {
        max-width: 343px;
        padding-bottom: 32px;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }
}


@media screen and (max-width: 375px)  {
    .intro__title {
        padding-bottom: 32px;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }
}